body, html{
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	background: #333745;
	color: #fff;
	font-size: 1rem;
}
a{
	color: #77c4d3;
}
a:hover, a:focus, a:active{
	color: #77c4d3;
}
textarea{
	min-height: 150px;
}
.mark, mark{
	background: #f6f792;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 300;
  line-height: 1.2;
  color: inherit;
}
h1, .h1 {
  font-size: 2.5rem;
}

h2, .h2 {
  font-size: 2rem;
}

h3, .h3 {
  font-size: 1.75rem;
}

h4, .h4 {
  font-size: 1.5rem;
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}
label {
    display: inline-block;
    margin-bottom: .5rem;
    font-size: 1rem;
    font-weight: 300;
    color: #fff;
}
h1, h2, h3, h4, h5, h6, ul, ol, div, blockquote, form, p{
	padding: 0;
	margin: 0;
}
p{
	margin-bottom: 1rem;
}
strong, b{
	color: #fff;
}

.container{
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
}

@media (max-width: 1200px){
	.container{
		max-width: 90%;
	}
}
@media (max-width: 600px){
	.container{
		max-width: 510px;
		padding-right: 15px;
		padding-left: 15px;
	}
}

.mark, mark {
    background: #f6f792;
}

.badge{
	color: #fff !important;
	font-size: 75% !important;
	font-weight: 700;
	display: inline-block;
	margin: 0 !important;
	padding: .3em;
}
.btn, .badge{
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	height: auto;
	line-height: normal;
}
.btn{
	padding: .375rem .75rem;
    font-size: 1rem;
    text-transform: none;
    font-weight: normal;
    border: none;
    cursor: pointer;

	-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
	transition:all 0.2s linear 0s;
	-webkit-transition:all 0.2s linear 0s;
}
.btn:hover,
.btn:focus{
	color: #fff;
}
.btn-sm{
	font-size: .8em;
	padding: .25rem .5rem;
}
.btn-lg{
	padding: .5rem 1rem;
    font-size: 1.25rem;
}
.btn-block{
	display: block;
	width: 100%;
	text-align: center;
}
.btn-primary, .badge-primary{
	border-color: #77c4d3;
	background: #77c4d3;
	color: #fff;
}
.btn-primary:hover,
.btn-primary:focus{
	border-color: #80d0e0;
	background: #80d0e0;
}
.btn-secondary, .badge-secondary{
	border-color: #4b4d57;
	background: #4b4d57;
	color: #fff;
}
.btn-secondary:hover,
.btn-secondary:focus{
	border-color: #575964;
	background: #575964;
}
.btn-success, .badge-success{
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}
.btn-success:hover,
.btn-success:focus{
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
}
.btn-danger, .badge-danger{
	border-color: #ea2e49;
	background: #ea2e49;
}
.btn-danger:hover,
.btn-danger:focus{
	border-color: #f33551;
	background: #f33551;
}
.btn-warning, .badge-warning{
	border-color: #f6f792;
	background: #f6f792;
	color: #212529 !important;
}
.btn-warning:hover,
.btn-warning:focus{
	border-color: #f5f69e;
	background: #f5f69e;
}
.btn-info, .badge-info{
	color: #fff;
    background-color: #117a8b;
    border-color: #10707f;
}
.btn-info:hover,
.btn-info:focus{
    background-color: #138496;
    border-color: #117a8b;
}
.btn-light, .badge-light{
	border-color: #daede2;
	background: #daede2;
	color: #212529 !important;
}
.btn-light:hover,
.btn-light:focus{
	border-color: #e8f7ef;
	background: #e8f7ef;
}
.btn-dark, .badge-dark{
	border-color: #1e202a;
	background: #1e202a;
}
.btn-dark:hover,
.btn-dark:focus{
	border-color: #282b37;
	background: #282b37;
}
.btn-link{
	color: #77c4d3;
	background: transparent;
	border: none;
	box-shadow: none;
	-webkit-box-shadow:none;
}
.btn-link:hover,
.btn-link:focus{
	background: transparent;
	border: none;
	box-shadow: none;
	-webkit-box-shadow:none;
	text-decoration: underline;
	color: #80d0e0;
}

.btn-outline-primary{
	border: solid 1px #77c4d3;
	color: #77c4d3;
	background: transparent;
}
.btn-outline-primary:hover,
.btn-outline-primary:focus{
	border-color: #80d0e0;
	background: #80d0e0;
}
.btn-outline-secondary{
	border: solid 1px #4b4d57;
	color: #fff;
	background: transparent;
}
.btn-outline-secondary:hover,
.btn-outline-secondary:focus{
	border-color: #575964;
	background: #575964;
}
.btn-outline-success{
    color: #28a745;
    background-color: transparent;
    border: solid 1px #28a745;
}
.btn-outline-success:hover,
.btn-outline-success:focus{
    color: #fff;
    background-color: #28a745;
    border-color: #1e7e34;
}
.btn-outline-danger{
	border: solid 1px #ea2e49;
	color: #ea2e49;
	background: transparent;
}
.btn-outline-danger:hover,
.btn-outline-danger:focus{
	border-color: #f33551;
	background: #f33551;
}
.btn-outline-warning{
	border: solid 1px #f6f792;
	color: #f6f792;
	background: transparent;
}
.btn-outline-warning:hover,
.btn-outline-warning:focus{
	border-color: #f5f69e;
	background: #f5f69e;
	color: #212529;
}
.btn-outline-light{
	border: solid 1px #daede2;
	color: #daede2;
	background: transparent;
}
.btn-outline-light:hover,
.btn-outline-light:focus{
	border-color: #e8f7ef;
	background: #e8f7ef;
	color: #212529;
}
.btn-outline-dark{
	border: solid 1px #1e202a;
	color: #212529;
	background: transparent;
}
.btn-outline-dark:hover,
.btn-outline-dark:focus{
	border-color: #282b37;
	background: #282b37;
}
.btn-outline-info{
	color: #17a2b8;
	background: transparent;
	border: solid 1px #17a2b8;
}
.btn-outline-info:hover,
.btn-outline-info:focus{
	color: #fff;
    background-color: #17a2b8;
}

.columns,
.columns:last-child{
	width: 100%;
	box-sizing: content-box;
	margin: 0;
}
.columns > .column,
.columns:last-child > .column{
	box-sizing: border-box;
	padding: 0;
}


.table{
	border: none;
	background: #fff;
	color: #747780;
	width: 100%;
}
.table thead,
.table tbody,
.table tfoot{
	border: none;
}
.table td, .table th{
	border-bottom: solid 1px #daede2;
	padding: .75rem;
	background: #fff;
	text-align: left;
}
.table tbody tr:last-child td,
.table tbody tr:last-child th{
	border-bottom: none;
}
.table-dark{
	border: none;
	background: #272a36;
	color: #daede2;
}
.table-dark thead th,
.table-dark th{
	color: #fff;
}
.table-dark td, .table-dark th{
	border-bottom: solid 1px #1e202a;
	background: #272a36;
}

.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
	color: #fff;
}
.alert-primary{
	background: #bbe1e9;
	border-color: #77c4d3;
	color: #272a36;
}
.alert-secondary{
	background: #a5a6ab;
	border-color: #4b4d57;
}
.alert-success {
    background-color: #d4edda;
    border-color: #c3e6cb;
}
.alert-info {
    background-color: #d1ecf1;
    border-color: #bee5eb;
}
.alert-success,
.alert-info{
	color: #272a36;
}
.alert-danger{
	background: #f496a4;
	border-color: #ea2e49;
}
.alert-warning{
	background: #fafbc8;
	border-color: #f6f792;
	color: #272a36;
}
.alert-light{
	background: #ecf6f0;
	border-color: #daede2;
	color: #272a36;
}
.alert-dark{
	background: #8b8c8e;
	border-color: #171a1d;
}

.form-control{
	background: #404556;
	color: #daede2;
	border: none;
	border-bottom: solid 1px #daede2;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	font-weight: normal;
	height: 37px;
	width: 100%;
	padding: 0 1rem;
}
.form-control:focus{
	background: #fff;
	color: #404556;
	border-color: #daede2;
}
.form-control::-webkit-input-placeholder { color: #c8d8cf; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: #c8d8cf; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: #c8d8cf; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: #c8d8cf; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: #c8d8cf; }  /* Microsoft Edge */



.navbar-toggler{
	display: none;
}
.navbar-toggler {
    padding: .35rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
    color: rgba(255,255,255,.5);
    border-color: rgba(255,255,255,.1);
    position: absolute;
    right: 0;
    top: 2px;
    cursor: pointer;
}
.navbar-toggler:focus{
	background: transparent;
}
.navbar-toggler i{
	height: auto;
	line-height: normal;
}

.navbar{
	background: transparent;
	min-height: auto;
}

.nav-main > li{
	vertical-align: middle;
	display: inline-block;
}
.nav-main > li > a{
	padding: .5rem .7rem;
	width: 100%;
	display: block;
}

.dropdown{
	position: relative;
}
.dropdown > a{
	padding-right: 1.2rem !important;
	position: relative;
}
.dropdown > a::after {
    display: block;
    width: 0;
    height: 0;
    border: inset 6px;
    content: '';
    border-bottom-width: 0;
    border-top-style: solid;
    border-color: #daede2 transparent transparent;
    right: 2px;
    left: auto;
    margin-top: -3px;
    position: absolute;
    top: 50%;
}
.dropdown .dropdown-menu{
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

	opacity: 0;
	height: 0;
	overflow: hidden;
	display: block;
	background: #1e202a;
    padding: .5rem 0;
    z-index: 99;
}
.dropdown .dropdown-menu li:hover {
    background: #272a36;
}
.dropdown .dropdown-menu li:hover a {
    color: #77c4d3 !important;
}
.dropdown .dropdown-menu li a {
    padding: .3rem .5rem;
    display: block;
    color: #747780 !important;
}
.dropdown:hover .dropdown-menu{
	opacity: 1;
	height: auto;
}
.dropdown .dropdown-menu li a.active{
	background: #77c4d3 !important;
    color: #fff !important;
}

.menu {
    font-size: 0.95rem;
}
.header-main{
	background: #272a36;
	min-height: 58px;
	font-size: 0.95rem;
}
.header-main > .container{
	padding-top: 10px;
	position: relative;
}
.header-main a{
	color: #daede2 !important;
}
.header-main a:hover,
.header-main a:focus{
	color: #77c4d3 !important;
	text-decoration: none;
}
.header-main a.active{
	background: #77c4d3 !important;
    color: #fff !important;
}
.header-main .form-inline{
	display: inline-block;
	position: relative;
	vertical-align: top;
}
.header-main .form-control{
	width: 150px;
	transition:width 0.3s linear 0s;
	-webkit-transition:width 0.3s linear 0s;
	position: absolute;
	right: 0;
	font-size: .95rem;
}
.header-main .form-control:focus{
	width: 300px;
}
.header-main .navbar-social{
	display: inline-block;
    vertical-align: top;
    margin-left: 1em;
    padding-top: .5em;
}
.header-main .navbar-social li{
	list-style: none;
	display: inline-block;
	vertical-align: middle;
}
.header-main .navbar-social li a{
	padding: 0 .4rem;
}

@media (min-width: 768px){
	#navbarMain{
		display: block !important;
	}
}
@media (max-width: 768px){
	#navbarMain{
		padding-top: 30px;
		display: none;
	}

	.header-main .column{
		width: 100%;
	}
	.header-main .form-inline{
		display: block;
		margin-bottom: 1rem;
	}
	.header-main .form-inline .form-control{
		position: static;
		display: block;
		max-width: none;
		width: 100% !important;
	}
	.header-main .navbar-social{
		display: block;
		text-align: left;
		margin-left: 0;
		padding-top: 0;
		padding-bottom: 1rem;
	}
	
	.nav-main{
		display: block;
		margin-bottom: 1rem;
	}
	.nav-main li{
		display: block;
	}
	.nav-main .dropdown-menu{
		position: static;
		display: none !important;
	}
	.nav-main li.dropdown.opened .dropdown-menu{
		display: block !important;
		height: auto;
		opacity: 1;
	}

	.navbar-toggler{
		display: block;
	}
}

.header-brand{
	max-width: 50px;
	margin-right: 0;
	padding-top: 4px;
	display: block;
}
.header-brand img{
	width: 100%;
}

.footer-main{
	background: #272a36;
	color: #daede2;
    padding-top: 2rem;
}
.footer-main > .container{
	padding-bottom: 2rem;
}
.footer-main a:hover{
	text-decoration: underline;
}
.footer-main .collection-item > small {
    display: block;
    color: #73767f;
}
.footer-main .collection-item h4{
	font-size: 1em;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
}
.footer-main .dark-bar {
    background: #1e202a;
    padding-top: 15px;
    padding-bottom: 15px;
    overflow: hidden;
}
.footer-main .list-group-item h4 {
    font-size: 1em;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
}
.footer-main .list-group-item > small {
    display: block;
    color: #73767f;
}

.footer-main .columns > .column{
	padding-right: 30px;
}
.footer-main .columns > .column:last-child{
	padding-right: 0;
}

@media (max-width: 768px){
	.footer-main .row > div{
		width: 100% !important;
	}
	.footer-main .nav-footer{
		text-align: left !important;
	}
	.footer-main .columns > .column{
		padding-right: 0;
	}
}

.footer-brand{
}
.footer-brand img{
	width: 60px;
}




.list-group{
	display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 0;
    color: #daede2;
    padding: 0;
}
.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    border-bottom: 1px solid #333745;
    background: transparent;
    padding-left: 0;
}
.list-group-flush:last-child .list-group-item:last-child {
    margin-bottom: 0;
    border-bottom: 0;
}

.nav-footer li {
    display: inline-block;
    margin-right: 15px;
    list-style: none;
    font-size: 0.8em;
}

main.main{
	min-height: 300px;
	padding-bottom: 4em;
}

.hot-post{
	padding-top: 2em;
	padding-bottom: 3em;
}
.hot-post .post-body{
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	padding: 1.5em;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.75+80 */
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.75) 80%, rgba(0,0,0,0.75) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 80%,rgba(0,0,0,0.75) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 80%,rgba(0,0,0,0.75) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#bf000000',GradientType=0 ); /* IE6-9 */
}
.page-home .hot-post-left{
	padding-right: 0px !important;
}
.page-home .hot-post-right{
	padding-left: 6px !important;
}

.hot-post-right h3{
	font-size: 1.3em;
	margin-bottom: .15em;
}
.hot-post-right .post-body{
	padding: 1em;
}

@media (max-width: 992px) {
	.hot-post .columns{
		display: block;
	}
	.hot-post .column{
		width: 100%;
	}
	.page-home .hot-post-left{
		padding: 0 !important;
	}
	.hot-post-left h3{
		font-size: 1.3em;
		margin-bottom: .15em;
	}
	.hot-post-left .post-body{
		padding: 1em;
	}
	.page-home .hot-post-right{
		padding: 0 !important;
	}
}

.post-thumb {
    position: relative;
    margin-bottom: 8px;
}

.post-img{
	width: 100%;
	overflow: hidden;
	display: block;
}
.post-img > img{
	display: block;
	width: 100%;
	-webkit-transition: 1.6s -webkit-transform;
    transition: 1.6s -webkit-transform;
    transition: 1.6s transform;
    transition: 1.6s transform, 1.6s -webkit-transform;
}
.post-img:hover > img{
	-webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.post-body a{
	color: #fff;
}
.post-body a:hover,
.post-body a:focus{
	color: #ea2e49 !important;
	text-decoration: none;
}

.post-category a{
	color: #ea2e49 !important;
	font-weight: 500;
	font-size: 0.9em;
}

.post-meta{
	padding: 0;
	margin: 0;
}
.post-meta li{
	color: #fff;
	font-size: 0.8em;
	list-style: none;
	display: inline-block;
	margin-right: 15px;
}


.content-body > .is-8{
	padding-right: 9px;
}
.content-body > .is-4{
	padding-left: 6px;
}
@media (max-width: 992px) {
	.content-body{
		display: block !important;
	}
	.content-body > .column{
		width: 100%;
	}
}


.section-title {
    position: relative;
}
.section-title:after {
    content: "";
    display: inline-block;
    height: 1px;
    background-color: #747780;
    position: absolute;
    left: 0;
    right: 0;
    top: 13px;
    z-index: 1;
}
.section-title .title {
    background: #333745;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 300;
    position: relative;
    display: inline-block;
    padding-right: .5em;
    z-index: 2;
}
.section-title h4.title{
	font-size: 1em;
}


.recent-post{
	margin-bottom: 4em;
}
.recent-post .ads-box{
	padding: 1em;
}
.recent-post .card{
	background: #414656;
	color: #daede2;
	margin: 0;
	border: none;
}
.recent-post .card a{
	color: #daede2;	
}
.recent-post .card a:hover,
.recent-post .card a:focus{
	text-decoration: none;
	color: #ea2e49;
}
.recent-post .card .post-meta li{
	color: #8188a0;
}
.recent-post .mb-15{
	margin-bottom: 15px;
}
.recent-post .card-title{
	margin-bottom: .3em;
}
.recent-post .card-title{
	font-size: 1.2rem !important;
}
.recent-post .columns{
	margin-bottom: .75rem;
}
.recent-post .columns .col-left{
	padding-right: 5px;
}
.recent-post .columns .col-right{
	padding-left: 5px; 
}

@media (max-width: 768px) {
	.recent-post .ads-box{
		padding: .5em;
	}
	.recent-post .columns{
		margin-bottom: 0;
	}
	.recent-post .columns > .column{
		margin-bottom: 15px;
	}
	.recent-post .columns .col-left{
		padding-right: 0;
	}
	.recent-post .columns .col-right{
		padding-left: 0;
	}
}


.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}


.sidebar .section-title {
    margin-bottom: 14px;
}
.sidebar .columns {
    margin-bottom: 2em;
}
.sidebar .list-group-item:first-child {
    border-top: none;
}
.sidebar .list-group-item {
    font-size: .9em;
    border-bottom: solid 1px #747780;
    background: #414656;
    padding: .75rem 1.25rem;
    margin-bottom: 1px;
}
.sidebar .list-group-item a:hover{
	text-decoration: underline;
}
.sidebar .list-group-item > small {
    float: right;
    font-size: 80%;
    margin-top: .2em;
    font-weight: 400;
}
@media (max-width: 992px) {
	.sidebar .columns > .column{
		width: 100%;
		margin-top: 2em;
	}
}

.last-posts li {
    list-style: none;
    margin-bottom: 1em;
}
.last-posts li:after {
    content: "";
    display: block;
    clear: both;
}
.last-posts .post-img {
    width: 35%;
    float: left;
    margin-right: .5em;
}
.last-posts .post-body {
    padding-top: .4em;
}
.last-posts .post-body h5 {
    font-size: 1em;
}

@media (max-width: 640px) {
	.last-posts .post-body{
		padding-top: 0;
	}
	.last-posts .post-img{
		width: 40%;
	}
	.last-posts .post-body h5{
		font-size: .9em;
	}
}


.form-sidebar p{
	color: #daede2;
	font-size: .8em;
	font-weight: 300;
}
.form-sidebar > div{
	position: relative;
}
.form-sidebar .form-control{
	margin-bottom: .5em;
	padding-right: 40px;
}
.form-sidebar button{
	width: 38px;
	height: 37px;
	border-bottom: solid 1px #daede2;
	position: absolute;
	right: 0;
	top: 0;
	padding: 0;
	color: #fff;
}
.form-sidebar button i{
	font-size: 1em;
}

.ads-box{
	padding: 2em;
	background: #272a36;
}
.ads-box img{
	display: block;
	margin: 0 auto;
	width: auto;
	max-width: 100%;
}
@media (max-width: 640px) {
	.ads-box{
		padding: .5em;
	}
}

.list-tags{
	padding: 0;
	margin: 0;
}
.list-tags li{
	list-style: none;
	display: inline-block;
	vertical-align: middle;
	margin-bottom: .3em;
}



.featured-posts .post-thumb{
	padding-left: 5px;
	padding-right: 5px;
}
.featured-posts .section-title{
	margin-bottom: 1rem;
}
.featured-posts .post-img{
	margin-bottom: .5em;
}
.featured-posts .post-title{
	font-size: 1.2em;
}
.featured-posts.small{
	font-size: .9em;
}
.featured-posts.small .row{
	margin-left: -5px;
	margin-right: -5px;
}
.featured-posts.small .row > div{
	padding-left: 5px;
	padding-right: 5px;
}

@media (max-width: 810px) {
	.featured-posts .columns.is-mobile{
		flex-flow: wrap;
	}
	.featured-posts .columns.is-mobile > .column{
		margin-bottom: 0;
		width: 50%;
	}
}
@media (max-width: 640px) {
	.featured-posts .columns > .column{
		margin-bottom: 2em;
	}
}


.page-elements .main .columns > .column{
	padding: 0 10px;
	margin-bottom: 1rem;
}
.page-elements .main .columns > .column:first-child{
	padding-left: 0;
}
.page-elements .main .columns > .column:last-child{
	padding-right: 0;
}