body, html{
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	background: #333745;
	color: #fff;
	font-size: 1rem;
	min-width: auto;
}
a{
	color: #77c4d3;
}
a:hover, a:focus, a:active{
	color: #77c4d3;
}
textarea{
	min-height: 150px;
}
ul, ol{
	padding: 0;
	margin: 0;
}
ul, ol, li{
	list-style: none;
}
.mark, mark{
	background: #f6f792;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	margin: 0;
	margin-bottom: 0.5rem;
	font-family: inherit;
	font-weight: 300;
	line-height: 1.2;
	color: inherit;
}
h1, .h1 {
  	font-size: 2.5rem;
}
h2, .h2 {
  	font-size: 2rem;
}
h3, .h3 {
  	font-size: 1.75rem;
}
h4, .h4 {
  	font-size: 1.5rem;
}
h5, .h5 {
  	font-size: 1.25rem;
}
h6, .h6 {
  	font-size: 1rem;
}
img{
	width: auto;
	max-width: 100%;
}
[type=color], [type=date], [type=datetime-local], [type=datetime], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=time], [type=url], [type=week], textarea{
	width: 100%;
}

table{
	width: 100%;
}
label {
    display: inline-block;
    margin-bottom: .5rem;
    font-size: 1rem;
    font-weight: 300;
    color: #fff;
}

.container{
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
}
@media (max-width: 1200px){
	.container{
		max-width: 90%;
	}
}
@media (max-width: 600px){
	.container{
		max-width: 510px;
		padding-left: 1rem;
		padding-right: 1rem;
	}
}

.badge{
	color: #fff !important;
	font-size: 75% !important;
	font-weight: 700;
	display: inline-block;
	margin: 0 !important;
	min-width: 2.1em;
    padding: .3em;
    text-align: center;
}
.btn, .badge{
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	height: auto;
	line-height: normal;
}
.btn{
	border: none;
	padding: .375rem .75rem;
    font-size: 1rem;
    text-transform: none;
    font-weight: normal;

	-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
	transition:all 0.2s linear 0s;
	-webkit-transition:all 0.2s linear 0s;
}
.btn:hover,
.btn:focus{
	color: #fff;
}
.btn-sm{
	font-size: .8em;
	padding: .25rem .5rem;
}
.btn-lg{
	padding: .5rem 1rem;
    font-size: 1.25rem;
}
.btn-block{
	display: block;
	width: 100%;
	text-align: center;
}
.btn-primary, .badge-primary{
	border-color: #77c4d3;
	background: #77c4d3;
	color: #fff;
}
.btn-primary:hover,
.btn-primary:focus{
	border-color: #80d0e0;
	background: #80d0e0;
}
.btn-secondary, .badge-secondary{
	border-color: #4b4d57;
	background: #4b4d57;
	color: #fff;
}
.btn-secondary:hover,
.btn-secondary:focus{
	border-color: #575964;
	background: #575964;
}
.btn-success, .badge-success{
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}
.btn-success:hover,
.btn-success:focus{
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
}
.btn-danger, .badge-danger{
	border-color: #ea2e49;
	background: #ea2e49;
}
.btn-danger:hover,
.btn-danger:focus{
	border-color: #f33551;
	background: #f33551;
}
.btn-warning, .badge-warning{
	border-color: #f6f792;
	background: #f6f792;
	color: #212529 !important;
}
.btn-warning:hover,
.btn-warning:focus{
	border-color: #f5f69e;
	background: #f5f69e;
}
.btn-info, .badge-info{
	color: #fff;
    background-color: #117a8b;
    border-color: #10707f;
}
.btn-info:hover,
.btn-info:focus{
    background-color: #138496;
    border-color: #117a8b;
}
.btn-light, .badge-light{
	border-color: #daede2;
	background: #daede2;
	color: #212529 !important;
}
.btn-light:hover,
.btn-light:focus{
	border-color: #e8f7ef;
	background: #e8f7ef;
}
.btn-dark, .badge-dark{
	border-color: #1e202a;
	background: #1e202a;
}
.btn-dark:hover,
.btn-dark:focus{
	border-color: #282b37;
	background: #282b37;
}
.btn-link{
	color: #77c4d3;
	background: transparent;
	border: none;
	box-shadow: none;
	-webkit-box-shadow:none;
}
.btn-link:hover,
.btn-link:focus{
	background: transparent;
	border: none;
	box-shadow: none;
	-webkit-box-shadow:none;
	text-decoration: underline;
	color: #80d0e0;
}

.btn-outline-primary{
	border: solid 1px #77c4d3;
	color: #77c4d3;
	background: transparent;
}
.btn-outline-primary:hover,
.btn-outline-primary:focus{
	border-color: #80d0e0;
	background: #80d0e0;
}
.btn-outline-secondary{
	border: solid 1px #4b4d57;
	color: #fff;
	background: transparent;
}
.btn-outline-secondary:hover,
.btn-outline-secondary:focus{
	border-color: #575964;
	background: #575964;
}
.btn-outline-success{
    color: #28a745;
    background-color: transparent;
    border: solid 1px #28a745;
}
.btn-outline-success:hover,
.btn-outline-success:focus{
    color: #fff;
    background-color: #28a745;
    border-color: #1e7e34;
}
.btn-outline-danger{
	border: solid 1px #ea2e49;
	color: #ea2e49;
	background: transparent;
}
.btn-outline-danger:hover,
.btn-outline-danger:focus{
	border-color: #f33551;
	background: #f33551;
}
.btn-outline-warning{
	border: solid 1px #f6f792;
	color: #f6f792;
	background: transparent;
}
.btn-outline-warning:hover,
.btn-outline-warning:focus{
	border-color: #f5f69e;
	background: #f5f69e;
	color: #212529;
}
.btn-outline-light{
	border: solid 1px #daede2;
	color: #daede2;
	background: transparent;
}
.btn-outline-light:hover,
.btn-outline-light:focus{
	border-color: #e8f7ef;
	background: #e8f7ef;
	color: #212529;
}
.btn-outline-dark{
	border: solid 1px #1e202a;
	color: #212529;
	background: transparent;
}
.btn-outline-dark:hover,
.btn-outline-dark:focus{
	border-color: #282b37;
	background: #282b37;
}
.btn-outline-info{
	color: #17a2b8;
	background: transparent;
	border: solid 1px #17a2b8;
}
.btn-outline-info:hover,
.btn-outline-info:focus{
	color: #fff;
    background-color: #17a2b8;
}

.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
	color: #fff;
}
.alert-primary{
	background: #bbe1e9;
	border-color: #77c4d3;
	color: #272a36;
}
.alert-secondary{
	background: #a5a6ab;
	border-color: #4b4d57;
}
.alert-success {
    background-color: #d4edda;
    border-color: #c3e6cb;
}
.alert-info {
    background-color: #d1ecf1;
    border-color: #bee5eb;
}
.alert-success,
.alert-info{
	color: #272a36;
}
.alert-danger{
	background: #f496a4;
	border-color: #ea2e49;
}
.alert-warning{
	background: #fafbc8;
	border-color: #f6f792;
	color: #272a36;
}
.alert-light{
	background: #ecf6f0;
	border-color: #daede2;
	color: #272a36;
}
.alert-dark{
	background: #8b8c8e;
	border-color: #171a1d;
}


.table{
	border: none;
	background: #fff;
	color: #747780;
}
.table thead,
.table tbody,
.table tfoot{
	border: none;
}
.table td, .table th{
	border-bottom: solid 1px #daede2;
	padding: .75rem;
	background: #fff;
	text-align: left;
}
.table tbody tr:last-child td,
.table tbody tr:last-child th{
	border-bottom: none;
}
.table-dark{
	border: none;
	background: #272a36;
	color: #daede2;
}
.table-dark thead th{
	color: #fff;
}
.table-dark td, .table-dark th{
	border-bottom: solid 1px #1e202a;
	background: #272a36;
}


.pagination{
	display: inline-block;
	background: transparent;
	box-shadow: none;
	-webkit-box-shadow:none;
	width: auto;
}
.pagination li{
	min-height: 41px;
	padding: 0 !important;
	background: transparent !important;
	white-space: nowrap;
	display: inline-block;
}
.pagination .ellipsis::after {
    padding: .1875rem .625rem;
    content: '\2026';
    color: #fff;
}
.pagination li span,
.pagination li a{
	color: #77c4d3;
	position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    background-color: #fff;
    border: 1px solid #dee2e6;

	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
}
.page-link:hover,
.pagination li a:hover{
	z-index: 2;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
}
.pagination li.current span{
	background: #77c4d3;
	color: #daede2;
	border-color: #77c4d3;
}
.pagination li.disabled{
	cursor: not-allowed;
}
.pagination li.disabled span{
	color: #404556;
}

.pagination-previous a::before, .pagination-previous.disabled::before{
	display: none;
}
.pagination-next a::after, .pagination-next.disabled::after{
	display: none;
}
.pagination .ellipsis::after{
	color: #fff;
}



.text-primary{
	color: #77c4d3 !important;
}
.text-secondary{
	color: #4b4d57 !important;
}
.text-danger{
	color: #ea2e49 !important;
}
.text-warning{
	color: #f6f792 !important;
}
.text-light{
	color: #daede2 !important;
}
.text-dark{
	color: #1e202a !important;
}
.text-success{
	color: #28a745!important;
}
.text-info{
	color: #17a2b8!important;
}
.text-muted{
	color: #6c757d!important;
}

.ui.grid>.stackable.stackable.row>.column,
.ui.stackable.grid>.column.grid>.column,
.ui.stackable.grid>.column.row>.column,
.ui.stackable.grid>.column:not(.row),
.ui.stackable.grid>.row>.column,
.ui.stackable.grid>.row>.wide.column,
.ui.stackable.grid>.wide.column,
.ui.grid>.column:not(.row){
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}
.ui.grid{
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.form-control{
	background: #404556;
	color: #daede2;
	border: none;
	border-bottom: solid 1px #daede2;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	font-weight: normal;
	height: 37px;
	padding: 0 1rem;
}
.form-control:focus{
	background: #fff;
	color: #404556;
	border-color: #daede2;
}
.form-control::-webkit-input-placeholder { color: #c8d8cf; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: #c8d8cf; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: #c8d8cf; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: #c8d8cf; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: #c8d8cf; }  /* Microsoft Edge */

.nav-main{
	margin-left: 1rem;
}
.nav-main li{
	display: inline-block;
}
.nav-main li a{
	display: block;
	padding: .5rem;
}

.navbar-toggler{
	display: none;
}
.navbar-toggler {
    padding: .35rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
    color: rgba(255,255,255,.5);
    border-color: rgba(255,255,255,.1);
    position: absolute;
    right: 1rem;
    top: 2px;
    cursor: pointer;
    z-index: 9;
}
.navbar-toggler:focus{
	background: transparent;
}
.navbar-toggler i{
	height: auto;
	line-height: normal;
}

.header-main{
	background: #272a36;
	min-height: 58px;
	font-size: 0.95rem;
}
.header-main .ui.grid{
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}
.header-main .column{
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}
.header-main > .container{
	padding-top: 10px;
	position: relative;
}
.header-main a{
	color: #daede2 !important;
}
.header-main a:hover,
.header-main a:focus{
	color: #77c4d3 !important;
	text-decoration: none;
}
.header-main a.active{
	background: #77c4d3 !important;
    color: #fff !important;
}
.header-main .form-inline{
	display: inline-block;
	position: relative;
	vertical-align: top;
}
.header-main .form-control{
	width: 150px;
	transition:width 0.3s linear 0s;
	-webkit-transition:width 0.3s linear 0s;
	position: absolute;
	right: 0;
	font-size: .95rem;
}
.header-main .form-control:focus{
	width: 300px;
}
.header-main .navbar-social{
	display: inline-block;
    vertical-align: top;
    margin-left: 1em;
    padding-top: .5em;
}
.header-main .navbar-social li{
	list-style: none;
	display: inline-block;
	vertical-align: middle;
}
.header-main .navbar-social li a{
	padding: 0 .4rem;
}

.header-brand{
	width: 50px;
	margin-right: 0;
	padding-top: 4px;
	display: block;
}
.header-brand img{
	width: 100%;
}

.menu-dropdown{
	position: relative;
}
.menu-dropdown > a:after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}
.menu-dropdown .menu{
	opacity: 0;
	height: 0;
	overflow: hidden;
	position: absolute;
	z-index: 99;
	top: 35px;
	left: 0;
	white-space: nowrap;
	min-width: 150px;
	padding: .5rem 0;
	background: #1e202a;

	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.menu-dropdown .menu li{
	display: block;
}
.menu-dropdown .menu li a{
	font-size: .95rem;
	padding: .25rem 1.5rem;
	color: #747780 !important;
}
.menu-dropdown .menu li:hover{
	background: #272a36;
}
.menu-dropdown .menu li:hover a{
	color: #77c4d3 !important;
}
.menu-dropdown .menu li a.active {
    background: #77c4d3 !important;
    color: #fff !important;
}
.menu-dropdown:hover .menu{
	opacity: 1;
	height: auto;
}

@media (min-width: 900px){
	#navbarMain{
		display: block !important;
	}
}
@media (max-width: 900px){
	#navbarMain{
		padding-top: 30px;
		display: none;
	}

	.header-main .ui.grid > .column{
		width: 100% !important;
	}

	.header-main .columns{
		width: 100%;
	}
	.header-main .form-inline{
		display: block;
		margin-bottom: 1rem;
	}
	.header-main .form-inline .form-control{
		position: static;
		display: block;
		max-width: none;
		width: 100% !important;
	}
	.header-main .navbar-social{
		display: block;
		text-align: left;
		margin-left: 0;
		padding-top: 0;
		padding-bottom: 1rem;
	}
	
	.nav-main{
		display: block;
		margin-bottom: 1rem;
		margin-left: 0;
	}
	.nav-main li{
		display: block;
	}

	.menu-dropdown .menu{
		opacity: 1;
		height: auto;
		width: 100%;
		max-width: none;
		display: block;
		position: static;
		display: none;
	}
	.menu-dropdown.opened .menu{
		display: block;
	}

	.navbar-toggler{
		display: block;
	}
}


.list-group{
	display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 0;
    color: #daede2;
    padding: 0;
}
.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    border-bottom: 1px solid #333745;
    background: transparent;
    padding-left: 0;
}
.list-group-flush:last-child .list-group-item:last-child {
    margin-bottom: 0;
    border-bottom: 0;
}

.nav-footer li {
    display: inline-block;
    margin-right: 15px;
    list-style: none;
    font-size: 0.8em;
}

.footer-main{
	background: #272a36;
	color: #daede2;
    padding-top: 2rem;
}
.footer-main > .container{
	padding-bottom: 2rem;
}
.footer-main a:hover{
	text-decoration: underline;
}
.footer-main .collection-item > small {
    display: block;
    color: #73767f;
}
.footer-main .collection-item h4{
	font-size: 1em;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
}
.footer-main .dark-bar {
    background: #1e202a;
    padding-top: 15px;
    padding-bottom: 15px;
    overflow: hidden;
}
.footer-main .list-group-item h4 {
    font-size: 1em;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
}
.footer-main .list-group-item > small {
    display: block;
    color: #73767f;
}

@media (max-width: 810px){
	.footer-main .ui.grid > .column{
		width: 100% !important;
	}
	.footer-main .nav-footer{
		text-align: left !important;
	}
}

.footer-brand{
}
.footer-brand img{
	width: 60px;
}


main.main{
	min-height: 300px;
	padding-bottom: 4em;
}

.hot-post{
	padding-top: 2em;
	padding-bottom: 3em;
}
.hot-post > .ui.grid > .column.eleven,
.content-body.ui.grid > .column.eleven{
	width: 66.66667% !important;
}
.hot-post > .ui.grid > .column.five,
.content-body.ui.grid > .column.five{
	width: 33.33333% !important;
}
.hot-post .post-body{
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	padding: 1.5em;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.75+80 */
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.75) 80%, rgba(0,0,0,0.75) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 80%,rgba(0,0,0,0.75) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 80%,rgba(0,0,0,0.75) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#bf000000',GradientType=0 ); /* IE6-9 */
}
.page-home .hot-post-left{
	padding-right: 5px !important;
}
.page-home .hot-post-right{
	padding-left: 1px !important;
}

.hot-post-right h3{
	font-size: 1.3em;
	margin-bottom: .15em;
}
.hot-post-right .post-body{
	padding: 1em;
}

@media (max-width: 900px) {
	.hot-post > .ui.grid > .column.eleven,
	.content-body.ui.grid > .column.eleven{
		width: 100% !important;
		padding: 0 1rem !important;
	}
	.hot-post .ui.grid > .column.five,
	.content-body.ui.grid > .column.five{
		width: 100% !important;
		padding: 0 1rem !important;
	}
	.hot-post-left h3{
		font-size: 1.3em;
		margin-bottom: .15em;
	}
	.hot-post-left .post-body{
		padding: 1em;
	}
}

.post-thumb {
    position: relative;
    margin-bottom: 9px;
}

.post-img{
	width: 100%;
	overflow: hidden;
	display: block;
}
.post-img > img{
	display: block;
	width: 100%;
	-webkit-transition: 1.6s -webkit-transform;
    transition: 1.6s -webkit-transform;
    transition: 1.6s transform;
    transition: 1.6s transform, 1.6s -webkit-transform;
}
.post-img:hover > img{
	-webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.post-body a{
	color: #fff;
}
.post-body a:hover,
.post-body a:focus{
	color: #ea2e49 !important;
	text-decoration: none;
}

.post-category a{
	color: #ea2e49 !important;
	font-weight: 500;
	font-size: 0.9em;
}

.post-meta{
	padding: 0;
	margin: 0;
}
.post-meta li{
	color: #fff;
	font-size: 0.8em;
	list-style: none;
	display: inline-block;
	margin-right: 15px;
}


.section-title {
    position: relative;
}
.section-title:after {
    content: "";
    display: inline-block;
    height: 1px;
    background-color: #747780;
    position: absolute;
    left: 0;
    right: 0;
    top: 13px;
    z-index: 1;
}
.section-title .title {
    background: #333745;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 300;
    position: relative;
    display: inline-block;
    padding-right: .5em;
    z-index: 2;
}
.section-title h4.title{
	font-size: 1em;
}


.recent-post{
	margin-bottom: 4em;
}
.recent-post .ads-box{
	padding: 1em;
}
.recent-post .card{
	background: #414656;
	color: #daede2;
	margin: 0;
	border: none;
}
.recent-post .card a{
	color: #daede2;	
}
.recent-post .card a:hover,
.recent-post .card a:focus{
	text-decoration: none;
	color: #ea2e49;
}
.recent-post .card .post-meta li{
	color: #8188a0;
}
.recent-post .mb-15{
	margin-bottom: 15px;
}
.recent-post .card-title{
	margin-bottom: .3em;
}
.recent-post .card-title{
	font-size: 1.2rem !important;
}
.recent-post .row{
	margin-bottom: .75rem !important;
}
.recent-post .row > .column{
	padding-bottom: 0 !important;
	padding-top: 0 !important;
}
.recent-post .row .col-left{
	padding-right: 5px !important;
}
.recent-post .row .col-right{
	padding-left: 5px !important; 
}

@media (max-width: 900px) {
	.col-content,
	.col-sidebar{
		width: 100%;
	}
}
@media (max-width: 640px) {
	.recent-post .ads-box{
		padding: .5em;
	}
	.recent-post .row{
		margin-bottom: 0;
	}
	.recent-post .row > div{
		margin-bottom: 15px;
	}
	.recent-post .ui.grid > .column{
		width: 100% !important;
	}
	.recent-post .row .col-left{
		padding-right: 1rem !important;
	}
	.recent-post .row .col-right{
		padding-left: 1rem !important; 
	}
}


.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}


.sidebar .section-title {
    margin-bottom: 14px;
}
.sidebar .row {
    margin-bottom: 2rem !important;
}
.sidebar .list-group-item:first-child {
    border-top: none;
}
.sidebar .list-group-item {
    font-size: .9em;
    border-bottom: solid 1px #747780;
    background: #414656;
    padding: .75rem 1.25rem;
    margin-bottom: 1px;
}
.sidebar .list-group-item a:hover{
	text-decoration: underline;
}
.sidebar .list-group-item > small {
    float: right;
    font-size: 80%;
    margin-top: .2em;
    font-weight: 400;
}
@media (max-width: 900px) {
	.sidebar .row > div{
		width: 100%;
	}
}

.last-posts li {
    list-style: none;
    margin-bottom: 1em;
}
.last-posts li:after {
    content: "";
    display: block;
    clear: both;
}
.last-posts .post-img {
    width: 35%;
    float: left;
    margin-right: .5em;
}
.last-posts .post-body {
    padding-top: .4em;
}
.last-posts .post-body h5 {
    font-size: 1em;
}

@media (max-width: 640px) {
	.last-posts .post-body{
		padding-top: 0;
	}
	.last-posts .post-img{
		width: 40%;
	}
	.last-posts .post-body h5{
		font-size: .9em;
	}
}


.form-sidebar p{
	color: #daede2;
	font-size: .8em;
	font-weight: 300;
}
.form-sidebar > div{
	position: relative;
}
.form-sidebar .form-control{
	margin-bottom: .5em;
	padding-right: 40px;
}
.form-sidebar button{
	width: 38px;
	height: 37px;
	border-bottom: solid 1px #daede2;
	position: absolute;
	right: 0;
	top: 0;
	padding: 0;
	color: #fff;
}
.form-sidebar button i{
	font-size: 1em;
}

.ads-box{
	padding: 2em;
	background: #272a36;
}
.ads-box img{
	display: block;
	margin: 0 auto;
	width: auto;
	max-width: 100%;
}
@media (max-width: 640px) {
	.ads-box{
		padding: .5em;
	}
}


.list-tags{
	padding: 0;
	margin: 0;
}
.list-tags li{
	list-style: none;
	display: inline-block;
	vertical-align: middle;
	margin-bottom: .3em;
}

.featured-posts .section-title{
	margin-bottom: 1rem;
}
.featured-posts .post-img{
	margin-bottom: .5em;
}
.featured-posts .post-title{
	font-size: 1.2em;
}
.featured-posts.small{
	font-size: .9em;
}
.featured-posts.small .row{
	margin-left: -5px;
	margin-right: -5px;
}
.featured-posts.small .row > div{
	padding-left: 5px;
	padding-right: 5px;
}

@media (max-width: 900px) {
	.featured-posts .ui.grid > .column.four{
		margin-bottom: 1rem !important;
		width: 50% !important;
	}
}
@media (max-width: 400px) {
	.featured-posts .ui.grid > .column.four{
		width: 100% !important;
	}
}


@-webkit-keyframes spinner-border {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinner-border {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.spinner-border {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-bottom;
  border: 0.25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner-border .75s linear infinite;
  animation: spinner-border .75s linear infinite;
}

.spinner-border-sm {
  width: 1rem;
  height: 1rem;
  border-width: 0.2em;
}


.valid-feedback {
  display: block;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #28a745;
}

.invalid-feedback {
  display: block;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}

.form-text {
    display: block;
    margin-top: .25rem;
}

.form-control.is-valid,
.was-validated .form-control:valid {
    border-color: #28a745 !important;
    background-repeat: no-repeat !important;
    background-position: center right calc(2.25rem / 4) !important;
    background-size: calc(2.25rem / 2) calc(2.25rem / 2) !important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e") !important;
}
.form-control.is-valid:focus,
.was-validated .form-control:valid:focus{
	background-image: none !important;
}
.form-control.is-invalid,
.was-validated .form-control:invalid {
    border-color: #dc3545 !important;
    background-repeat: no-repeat !important;
    background-position: center right calc(2.25rem / 4) !important;
    background-size: calc(2.25rem / 2) calc(2.25rem / 2) !important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23d9534f' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E") !important;
}
.form-control.is-invalid:focus,
.was-validated .form-control:invalid:focus{
	background-image: none !important;
}

[type="checkbox"].is-invalid~ label,
[type="checkbox"].is-invalid~ label{
    color: #dc3545;
}

form .ui.grid {
    margin-bottom: 0 !important;
}
form .ui.grid > .column{
	margin-bottom: 1rem !important;
}


.glide__arrow--left{
	left: 1em;
}
.glide__arrow--right{
	right: 1em;
}
@media (max-width: 900px) {
	.page-elements .ui.grid > .column{
		width: 100% !important;
	}
}






.modal{
	display: none;
}