body, html{
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	background: #333745;
	color: #fff;
	font-size: 1rem;
}
a{
	color: #77c4d3;
}
a:hover, a:focus, a:active{
	color: #77c4d3;
}
textarea{
	min-height: 150px;
}
ul, ol{
	padding: 0;
	margin: 0;
}
ul, ol, li{
	list-style: none;
}
.mark, mark{
	background: #f6f792;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
	font-weight: 300;
}

.container{
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
}
@media (max-width: 1200px){
	.container{
		max-width: 90%;
	}
}
@media (max-width: 600px){
	.container{
		max-width: 510px;
		padding-left: 1rem;
		padding-right: 1rem;
	}
}

.ui.grid>.stackable.stackable.row>.column,
.ui.stackable.grid>.column.grid>.column,
.ui.stackable.grid>.column.row>.column,
.ui.stackable.grid>.column:not(.row),
.ui.stackable.grid>.row>.column,
.ui.stackable.grid>.row>.wide.column,
.ui.stackable.grid>.wide.column{
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.form-control{
	background: #404556;
	color: #daede2;
	border: none;
	border-bottom: solid 1px #daede2;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	font-weight: normal;
	height: 37px;
	padding: 0 1rem;
}
.form-control:focus{
	background: #fff;
	color: #404556;
	border-color: #daede2;
}
.form-control::-webkit-input-placeholder { color: #c8d8cf; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: #c8d8cf; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: #c8d8cf; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: #c8d8cf; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: #c8d8cf; }  /* Microsoft Edge */

.nav-main{
	margin-left: 1rem;
}
.nav-main li{
	display: inline-block;
}
.nav-main li a{
	display: block;
	padding: .5rem;
}

.navbar-toggler{
	display: none;
}
.navbar-toggler {
    padding: .35rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
    color: rgba(255,255,255,.5);
    border-color: rgba(255,255,255,.1);
    position: absolute;
    right: 1rem;
    top: 2px;
    cursor: pointer;
    z-index: 9;
}
.navbar-toggler:focus{
	background: transparent;
}
.navbar-toggler i{
	height: auto;
	line-height: normal;
}

.header-main{
	background: #272a36;
	min-height: 58px;
	font-size: 0.95rem;
}
.header-main .ui.grid{
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}
.header-main .column{
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}
.header-main > .container{
	padding-top: 10px;
	position: relative;
}
.header-main a{
	color: #daede2 !important;
}
.header-main a:hover,
.header-main a:focus{
	color: #77c4d3 !important;
	text-decoration: none;
}
.header-main a.active{
	background: #77c4d3 !important;
    color: #fff !important;
}
.header-main .form-inline{
	display: inline-block;
	position: relative;
	vertical-align: top;
}
.header-main .form-control{
	width: 150px;
	transition:width 0.3s linear 0s;
	-webkit-transition:width 0.3s linear 0s;
	position: absolute;
	right: 0;
	font-size: .95rem;
}
.header-main .form-control:focus{
	width: 300px;
}
.header-main .navbar-social{
	display: inline-block;
    vertical-align: top;
    margin-left: 1em;
    padding-top: .5em;
}
.header-main .navbar-social li{
	list-style: none;
	display: inline-block;
	vertical-align: middle;
}
.header-main .navbar-social li a{
	padding: 0 .4rem;
}

.header-brand{
	width: 50px;
	margin-right: 0;
	padding-top: 4px;
	display: block;
}
.header-brand img{
	width: 100%;
}

.menu-dropdown{
	position: relative;
}
.menu-dropdown > a:after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}
.menu-dropdown .menu{
	opacity: 0;
	height: 0;
	overflow: hidden;
	position: absolute;
	top: 35px;
	left: 0;
	white-space: nowrap;
	min-width: 150px;
	padding: .5rem 0;
	background: #1e202a;

	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.menu-dropdown .menu li{
	display: block;
}
.menu-dropdown .menu li a{
	font-size: .95rem;
	padding: .25rem 1.5rem;
	color: #747780 !important;
}
.menu-dropdown .menu li:hover{
	background: #272a36;
}
.menu-dropdown .menu li:hover a{
	color: #77c4d3 !important;
}
.menu-dropdown .menu li a.active {
    background: #77c4d3 !important;
    color: #fff !important;
}
.menu-dropdown:hover .menu{
	opacity: 1;
	height: auto;
}

@media (min-width: 900px){
	#navbarMain{
		display: block !important;
	}
}
@media (max-width: 900px){
	#navbarMain{
		padding-top: 30px;
		display: none;
	}

	.header-main .ui.grid > .column{
		width: 100% !important;
	}

	.header-main .columns{
		width: 100%;
	}
	.header-main .form-inline{
		display: block;
		margin-bottom: 1rem;
	}
	.header-main .form-inline .form-control{
		position: static;
		display: block;
		max-width: none;
		width: 100% !important;
	}
	.header-main .navbar-social{
		display: block;
		text-align: left;
		margin-left: 0;
		padding-top: 0;
		padding-bottom: 1rem;
	}
	
	.nav-main{
		display: block;
		margin-bottom: 1rem;
		margin-left: 0;
	}
	.nav-main li{
		display: block;
	}

	.menu-dropdown .menu{
		opacity: 1;
		height: auto;
		width: 100%;
		max-width: none;
		display: block;
		position: static;
		display: none;
	}
	.menu-dropdown.opened .menu{
		display: block;
	}

	.navbar-toggler{
		display: block;
	}
}


.list-group{
	display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 0;
    color: #daede2;
    padding: 0;
}
.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    border-bottom: 1px solid #333745;
    background: transparent;
    padding-left: 0;
}
.list-group-flush:last-child .list-group-item:last-child {
    margin-bottom: 0;
    border-bottom: 0;
}

.nav-footer li {
    display: inline-block;
    margin-right: 15px;
    list-style: none;
    font-size: 0.8em;
}

.footer-main{
	background: #272a36;
	color: #daede2;
    padding-top: 2rem;
}
.footer-main > .container{
	padding-bottom: 2rem;
}
.footer-main a:hover{
	text-decoration: underline;
}
.footer-main .collection-item > small {
    display: block;
    color: #73767f;
}
.footer-main .collection-item h4{
	font-size: 1em;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
}
.footer-main .dark-bar {
    background: #1e202a;
    padding-top: 15px;
    padding-bottom: 15px;
    overflow: hidden;
}
.footer-main .list-group-item h4 {
    font-size: 1em;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
}
.footer-main .list-group-item > small {
    display: block;
    color: #73767f;
}

@media (max-width: 810px){
	.footer-main .ui.grid > .column{
		width: 100% !important;
	}
	.footer-main .nav-footer{
		text-align: left !important;
	}
}

.footer-brand{
}
.footer-brand img{
	width: 60px;
}






.modal{
	display: none;
}