body, html{
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
}
.navbar{
	background: #272a36;
	color: #daede2;
	font-size: 0.95rem;
}
.navbar .navbar-nav .nav-link{
	color: #daede2;
}
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover{
	color: #77c4d3;
}
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:active{
	background: #77c4d3;
    color: #fff;
}
.navbar .navbar-nav.navbar-social{
	margin-left: 20px;
	flex-direction: row;
}
.navbar .navbar-nav.navbar-social .nav-link{
	padding-right: .5rem;
    padding-left: .5rem;
}
.navbar .dropdown .dropdown-menu {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
    background: #1e202a;
}
.navbar .dropdown:hover .dropdown-menu {
    max-height: 200px;
    opacity: 1;
}
.navbar .dropdown-item{
	color: #747780;
	border: none;
	font-size: 0.95rem;
}
.navbar .dropdown-item:focus,
.navbar .dropdown-item:hover{
	background: #272a36;
	color: #77c4d3;
}
.navbar .dropdown-item.active,
.navbar .dropdown-item:active{
	background: #77c4d3;
	color: #fff;
}


.navbar-brand{
	max-width: 50px;
	margin-right: 30px;
}
.navbar-brand img{
	width: 100%;
}

@media (max-width: 768px){
	#navbarMain{
		padding-top: 30px;
	}

	.navbar .dropdown .dropdown-menu {
	    display: none;
	    opacity: 1;
	    height: auto;
	    max-height: none;
	}
	.navbar .dropdown.show .dropdown-menu {
		display: block;
	}
	.navbar .navbar-nav.navbar-social{
		margin-left: 0;
	}
}


.form-control{
	background: #404556;
	color: #daede2;
	border: none;
	border-bottom: solid 3px #daede2;
}
.form-control:focus{
	background: #fff;
	color: #404556;
	border-color: #daede2;
}
.form-control::-webkit-input-placeholder { color: #c8d8cf; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: #c8d8cf; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: #c8d8cf; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: #c8d8cf; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: #c8d8cf; }  /* Microsoft Edge */